{% extends 'base.html' %}
{% load static %}
{% block custom_css %}
    <link href="{% static 'css/style.css' %}" rel="stylesheet">

{% endblock %}
{% block main_wrapper %}

    <div class="main-wrapper">
        <section class="cta-section theme-bg-light">

            <div id="slider-wrap">
                <ul id="slider">
                    <li data-color="#1abc9c">
                        <div>
                            <h3>Slide #1</h3>
                            <span>Sub-title #1</span>
                        </div>
                        <i class="fa fa-image"></i>
                    </li>

                    <li data-color="#3498db">
                        <div>
                            <h3>Slide #2</h3>
                            <span>Sub-title #2</span>
                        </div>
                        <i class="fa fa-gears"></i>
                    </li>

                    <li data-color="#9b59b6">
                        <div>
                            <h3>Slide #3</h3>
                            <span>Sub-title #3</span>
                        </div>
                        <i class="fa fa-sliders"></i>
                    </li>



                </ul>

                <!--controls-->
                <div class="btns" id="next"><i class="fa fa-arrow-right"></i></div>
                <div class="btns" id="previous"><i class="fa fa-arrow-left"></i></div>
                <div id="counter"></div>

                <div id="pagination-wrap">
                    <ul>
                    </ul>
                </div>
                <!--controls-->

            </div>

        </section>
        <section class="blog-list px-3 py-5 p-md-5">
            <div class="container">
                <div class="item mb-5">
                    <div class="media">
                        <img class="mr-3 img-fluid post-thumb d-none d-md-flex"
                             src="assets/images/blog/blog-post-thumb-5.jpg" alt="image">
                        <div class="media-body">
                            <h3 class="title mb-1"><a href="blog-post.html">Learn React in 24 Hours</a></h3>
                            <div class="meta mb-1"><span class="date">Published 2 months ago</span><span class="time">10 min read</span><span
                                    class="comment"><a href="#">23 comments</a></span></div>
                            <div class="intro">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo
                                ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient
                                montes, nascetur ridiculus mus. Donec quam felis, ultricies...
                            </div>
                            <a class="more-link" href="blog-post.html">Read more &rarr;</a>
                        </div><!--//media-body-->
                    </div><!--//media-->
                </div><!--//item-->
                <div class="item">
                    <div class="media">
                        <img class="mr-3 img-fluid post-thumb d-none d-md-flex"
                             src="assets/images/blog/blog-post-thumb-6.jpg" alt="image">
                        <div class="media-body">
                            <h3 class="title mb-1"><a href="blog-post.html">About Remote Working</a></h3>
                            <div class="meta mb-1"><span class="date">Published 3 months ago</span><span class="time">2 min read</span><span
                                    class="comment"><a href="#">1 comment</a></span></div>
                            <div class="intro">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo
                                ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient
                                montes, nascetur ridiculus mus. Donec quam felis, ultricies...
                            </div>
                            <a class="more-link" href="blog-post.html">Read more &rarr;</a>
                        </div><!--//media-body-->
                    </div><!--//media-->
                </div><!--//item-->
                <nav class="blog-nav nav nav-justified my-5">
                    <a class="nav-link-prev nav-item nav-link d-none rounded-left" href="#">Previous<i
                            class="arrow-prev fas fa-long-arrow-alt-left"></i></a>
                    <a class="nav-link-next nav-item nav-link rounded" href="blog-list.html">Next<i
                            class="arrow-next fas fa-long-arrow-alt-right"></i></a>
                </nav>

            </div>
        </section>

        <footer class="footer text-center py-2 theme-bg-dark">

            <small class="copyright">Designed with <i class="fas fa-heart"></i> by 3rdwavemedia for developers / More
                Templates
            </small>

        </footer>

    </div><!--//main-wrapper-->
{% endblock %}
{% block custom_js %}
    <script src="{% static 'js/slide.js' %}"></script>
{% endblock %}