<div id="slider-wrap">
    <ul id="slider">
        {% for slide in slide_lists %}
            {#            <a href="/" target="_blank"></a>#}
            <li>
                <img src="uploads/{{ slide.image_url }}" class="img-fluid">

                <div>
                    <h3>{{ slide.title }}</h3>
                    <span>{{ slide.description }}</span>
                    <img id="{{ slide.index }}" src="" alt=""/>
                </div>
            </li>
        {% endfor %}
    </ul>

    <!--controls-->
    <div class="btns" id="next"><i class="fa fa-arrow-right"></i></div>
    <div class="btns" id="previous"><i class="fa fa-arrow-left"></i></div>
    <div id="counter"></div>

    <!--controls-->
</div>