{#<section class="cta-section theme-bg-light">#}
<div id="slider-wrap">
    <ul id="slider">
        <li data-color="#9b59b6">
            <div>
                <h3>Slide #3</h3>
                <span>Sub-title #3</span>
            </div>
        </li>
        <li data-color="#9b59b6">
            <div>
                <h3>Slide #3</h3>
                <span>Sub-title #3</span>
            </div>
        </li>
        <li data-color="#9b59b6">
            <div>
                <h3>Slide #3</h3>
                <span>Sub-title #3</span>
            </div>
        </li>
        <li data-color="#9b59b6">
            <div>
                <h3>Slide #3</h3>
                <span>Sub-title #3</span>
            </div>
        </li>
    </ul>

    <!--controls-->
    <div class="btns" id="next"><i class="fa fa-arrow-right"></i></div>
    <div class="btns" id="previous"><i class="fa fa-arrow-left"></i></div>
    <div id="counter"></div>

    <div id="pagination-wrap">
        <ul>
        </ul>
    </div>
    <!--controls-->

</div>
{#</section>#}